appdirs==1.4.4
bleach==3.3.0
bump2version==1.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.6
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==2.10
importlib-metadata==3.7.3
jeepney==0.6.0
keyring==23.0.0
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
toml==0.10.2
tox==3.23.0
tqdm==4.59.0
twine==3.3.0
urllib3==1.26.3
virtualenv==20.4.2
webencodings==0.5.1
zipp==3.4.1
